nav ul {
    position: relative;
}

nav ul li {
    margin: 1rem 0;
} 

nav ul li a {
    padding: .6rem .9rem;
    /* Find out whther you can get these closer together */
}

nav ul ul {
    position: absolute;
    /* font-paragraph */
    opacity: 0;
    visibility: hidden;
}

nav ul li:hover {
    background-color: rgba(16, 29, 44, 0.7);
    transition: all .4s;
}

nav ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    background-color: rgba(16, 29, 44, 0.7);
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    transition: all .4s;
} 

/* Custom Footer */
.bg-custom-footer {
    background: rgb(252,218,153);
    background: linear-gradient(90deg, rgba(252,218,153,1) 22%, rgba(24,54,66,1) 48%);
}