@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/* BUTTONS */
.btn {
  @apply shadow-md py-3 px-6 rounded-md transition duration-300;
}

.btn-light {
  @apply bg-transparent text-white border border-white;
}

.btn-dark {
  @apply bg-transparent text-secondary border border-secondary;
}

/* HEADINGS */
h1 {
  @apply text-4xl font-display text-white;
}

h2 {
  @apply text-4xl font-display;
}

h3 {
  @apply text-3xl font-display;
}

h4 {
  @apply text-lg;
}

p {
  @apply text-xl text-secondary;
}

a:hover {
  text-decoration: underline rgba(48, 109, 133, 0.502);
}

/* CUSTOM BG */

.bg-custom-hero {
  background: linear-gradient(rgba(16, 29, 44, 0.4), rgba(16, 29, 44, 0.4)),
    url(img/hero-img.jpg) no-repeat top right 10% / cover;
}

.bg-custom-hero--about {
  background: linear-gradient(rgba(16, 29, 44, 0.4), rgba(16, 29, 44, 0.4)),
    url(img/extra-img/james-coleman-QHRZv6PIW4s-unsplash.jpg) no-repeat top 70%
      right/cover;
}

.bg-custom-story {
  background: linear-gradient(rgba(16, 29, 44, 0.7), rgba(17, 29, 44, 0.6)),
    url(img/ilustracion-1.JPG) no-repeat top 10% left/cover;
}

.bg-custom-community {
  background: linear-gradient(rgba(16, 29, 44, 0.7), rgba(16, 29, 44, 0.7)),
    url(img/foto-grupal.JPG) no-repeat top/cover;
}

footer li {
  @apply mb-1;
}

/* NAVIGATION */

.nav-visibility-off {
  opacity: 0;
  visibility: hidden;
}

.nav-visibility-on:hover > ul {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s;
}

.nav-visibility-on:hover > a {
  @apply bg-secondary rounded-b-none;
}

/* MOBILE MENU */

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 200ms ease-in-out forwards;
}

/* CUSTOM UTILITY CLASSES */
.cust-img-padding img {
  @apply pb-2;
}

/* CUSTOM TEXT COLOR SELECTION */

::selection {
  color: whitesmoke;
  background: #183642;
  /* Color secondary */
}

/* CAROUSEL */

.carousel-container {
  width: 40%;
  margin: auto;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
}
